* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    padding: 0 2%;
    font-family: 'Yanone Kaffeesatz', 'sans-serif';
    color: black;
    background: grey;
    list-style: none;
}

body h4 {
    font-size: 12px;
} 

.vue {
    display: flex;
    align-content: center;
    justify-content: center;
    justify-content: space-around;
    padding: 0 25%;
}

.synth {
    display: flex;
    justify-content: space-around;
    
}
.osc-content {
    display:flex;
    flex-direction: column;
}
.osc-items {
    display: flex;
    justify-content: space-between;
}

.oscillator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modulation {
    display: flex;
    justify-content: space-between;
}

.checkbox-wave {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 15px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(9px);
    -ms-transform: translateX(9px);
    transform: translateX(9px);
  }